@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #fcf8f8;
}

nav {
  padding: 40px;
}

nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

nav ul li {
  font-size: 28px;
  font-weight: 600;
  color: #515151;
}

nav ul li img {
  width: 50px;
  border-radius: 50%;
}

.geral {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  padding: 100px;
  justify-content: space-between;
}

.apresentacao {
  max-width: 300px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 40px;
}

.apresentacao h1 {
  font-size: 94px;
}

.apresentacao button {
  color: #fff;
  background: linear-gradient(45deg, #fe6060, #fd5e7f);
  padding: 12px 24px;
  border: none;
  font-size: 28px;
  font-weight: 600;
  border-radius: 16px;
  transition: background 0.5s;
}

.galeria-donut {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #fe6060, #fd5e7f);
  border-radius: 50% 0px 0px 50%;
  padding: 40px;
  position: relative;
  transition: background 0.5s;
}

.carrossel-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carrossel-donut {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  height: 100%;
  animation: scroll 10s linear infinite;
}

.carrossel-donut img {
  transition: transform 0.5s;
}

#principal-img {
  transition: opacity 0.5s;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .geral {
    flex-direction: column;
    gap: 40px;
  }

  nav ul li {
    font-size: 14px;
  }

  .apresentacao h1 {
    font-size: 48px;
  }

  .galeria-donut {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    padding: 0;
  }

  .galeria-donut img {
    width: 80%;
  }

  .carrossel-container {
    height: auto;
  }

  .carrossel-donut {
    flex-direction: row;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
